{{define "content-page"}}
<div class="container">
  <div class="row middle-xs">
    <div class="col-xs-4">
      {{if ne .Summary.ImgURL ""}}
      <img src={{.Summary.ImgURL}} alt="Cover" style="max-width: 100%; border: 2px solid black;">
      {{end}}
    </div>
    <div class="col-xs-8">
      <div>
        <h1><em>{{.Summary.Name}}</em></h1>
        <h2>({{.Summary.Published}})</h2>
        <p>
          {{range $author := .Summary.Authors}}
          {{$author}};
          {{end}}
        </p>

        <p>
          {{range $genre:= .Summary.Genres}}
          {{$genre}},
          {{end}}
        </p>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="content-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>*</th>
            </tr>
          </thead>
          <tbody>
            {{range $index, $item := .Content}}
            <tr>
              <td>{{$item}}</td>
              <td>
                <a href="https://httpbin.org/delay/2" hx-get="https://httpbin.org/delay/2" hx-trigger="click"
                  hx-swap="none" hx-on::before-request="this.innerText = 'Loading...';"
                  hx-on::after-request="this.innerText = 'Get';">Get</a>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{end}}