{{define "content-page"}}
{{ $summary := .Summary }}
<div class="container">
  <div class="row middle-xs">
    <div class="col-xs-4">
      {{if ne .Summary.ImgURL ""}}
      <img src={{.Summary.ImgURL}} alt="Cover" style="max-width: 100%; border: 2px solid black;">
      {{end}}
    </div>
    <div class="col-xs-8">
      <div>
        <h1><em>{{.Summary.Name}}</em></h1>
        <h2>({{.Summary.Published}})</h2>
        <p>
          {{range $author := .Summary.Authors}}
          {{$author}};
          {{end}}
        </p>

        <p>
          {{range $genre:= .Summary.Genres}}
          {{$genre}},
          {{end}}
        </p>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="content-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>*</th>
              <th>*</th>
            </tr>
          </thead>
          <tbody>
            {{range $index, $item := .Content}}
            <tr>
              <td>{{$item}}</td>
              <td>
                <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                <form action="{{$summary.CurrentPath}}/convert/{{$item}}" method="get" target="dummyframe">
                  <button type="submit">Convert</button>
                </form>
              </td>

              <td>
                <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                <form action="{{$summary.CurrentPath}}/download/{{$item}}" method="get" target="dummyframe">
                  <button type="submit">Download</button>
                </form>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{end}}