{{define "index"}}
<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.8.1.min.css"/>
  <link rel="stylesheet" href="static/style.css"/>
  </head>
  <body>
      <h1>Dashboard</h1>
    
      <p>Welcome to the dashboard!</p>

      <!-- Add a table to display MediaPath -->
      <table border="1">
          <thead>
              <tr>
                  <th>Variable</th>
                  <th>Value</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>MediaPath</td>
                  <td>{{.MediaPath}}</td>
              </tr>
          </tbody>
      </table>
  </body>
</html>
{{end}}
