{{define "setup-error"}}
    <h1>Welcome to Comaho!</h1>
    <p> If you are seeing this page, it means that Comaho is running on your server, but that there is no access to a defined media folder</p>
    <p> To solve this, please check the following:</p>
    <ol>
        <li> Is your environment variable <code>COMAHO_MEDIA_PATH</code> set?</li>
        <li> For the path defined at <code>COMAHO_MEDIA_PATH</code>, do we have read access?</li>
    </ol>

    <h3> Status summary: </h3>
    <ol>
        <li> <code>Used media path</code>: <code>{{.MediaPath}}</code></li>
        <li> <code>COMAHO_MEDIA_PATH</code>: <code>{{.MediaPathEnvVar}}</code></li>
        <li> <code>COMAHO_DOCKER_VOLUME_PATH</code>: <code>{{.DockerVolumePathEnvVar}}</code></li>
        <li> Current found error:
            {{if ne .ErrMsg nil}}
                <code>{{.ErrMsg}}</code>
            {{else}}
                <code>nil</code>
            {{end}}
        </li>
    </ol>

{{end}}
