body {
  font-family: monospace;
  line-height: 1.0;
  letter-spacing: -1.0px;
  font-size: 110%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  border: 3px double black;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}